/*首页*/
.rectbar .tab, .tabbar .tab{
    background:#fff;
}
.rectbar, .slidebar, .tabbar{
    color: #f1f1f1;
}
header .tab:active, header .tab.active{
    color: #fff;
}
header .titlebar{
    background: #fff;
    border-bottom: 1px solid #ddd;
}
header .titlebar a,header .titlebar h1{
    color: #000;
}
a.collect>i{
    color: #e0001b;
}
em{
    font-style: normal;
}
.slidebar{
    width: 100%;
}
.slidebar .tab{
    width: 25%;
    background: #02cfff;
    border: none;
}
.slidebar .tab:active, .slidebar .tab.active{
    background: #1882d8;
}
.meun-rome{
    position: absolute;
    top: 0;
    z-index: 999;
    background-color: #04C191;
    right: 0;
    width: 30px;
    text-align: center;
    height: 41px;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    box-shadow: -1px -1px 12px rgba(0, 0, 0, 0.5)
}
#search-box{
    position: absolute;
    top: 48px;
    width: 100%;
}
.bottom{
    width: 100%;
    background: #fff;
    margin-top: 8px;
}
.bottom a.btn{
    display: inline-block;
    width: 46%;
    height: 28px;
    line-height: 28px;
    margin: 4px 1%;
    background: url(../img/list/btn-bg.png) left center repeat-x;
    background-size: auto 28px;
    border-radius: 4px;
    border: 1px solid #ddd;
    text-align: center;
}
.bottom a.btn i{
    width: 16px;
    height: 16px;
    margin-right: 4px;
    margin-top: -3px;
}
.bottom a.btn .icon-sent{
    background: url(../img/list/icon-sent.png) center center no-repeat;
    background-size: 100%;
}
.bottom a.btn .icon-wshare{
    background: url(../img/list/icon-wshare.png) center center no-repeat;
    background-size: 100%;
}
.bottom .code{
    width: 40%;
    margin: auto 30%;
    text-align: center;
}
.bottom .code img{
    width: 100%;
}

/*首页*/
.topbanner{
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
}
.topbanner img{
    width: 100%;
}
.country{
    display: block;
    background: #fff;
    overflow: hidden;
}
.country li{
    width: 30.77%;
    float: left;
    margin: 0 4px;
    text-align: center;
    padding-top: 4px;
}
.country li .pic{
    background: #ebeff0;
}
.country li>.pic img{
    width: 94%;
}
.country li>.pic p{
    font-size: 12px;
    line-height: 20px;
}
.country li>.txt{
    font-size: 12px;
    height: 24px;
    line-height: 24px;
}
.advert{
    display: block;
    background: #fff;
    overflow: hidden;
}
.advert>.pic{
    width: 100%;
    height: auto;
    margin: 8px auto;
}
.advert>.pic img{
    width: 100%;
}

/*产品列表*/
.protab{
    background: #ebeff0;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
}
.protab .tab{
    float: left;
    width: 22%;
}
.protab .tab:active,.protab .tab.active{
    color: #000;
}
.btn-search{
    width: 12%;
    background: #F6BB42;
    color: #fff;
    float: left;
    text-align: center;
}
.tab-tit>span{
    display: inline-block;
}
.arrow-up{
    width: 10px;
    height: 18px;
}
.arrow-down{
    width: 10px;
    height: 18px;
}
.prolist{
    display: block;
    padding: 8px 4px;
}
.col-2{
    display: block;
    overflow: hidden;
}
.col-2 li{
    width: 48%;
    overflow: hidden;
    float: left;
    margin: 0 1%;
}
.col-2 li>img{
    width: 100%;
}
.col-2 .text{
    padding: 4px 8px;
    text-align: center;
}
.col-2 .text>h3{
    font-size: 14px;
    font-weight: normal;
}
.col-3{
    display: block;
    overflow: hidden;
}
.col-3 li{
    width: 31.33%;
    margin: 0 1%;
    float: left;
    overflow: hidden;
}
.col-3 li>img{
    width: 100%;
}
.col-3 .text{
    padding: 4px;
    text-align: center;
}
.col-3 .text>h3{
    font-size: 12px;
    font-weight: normal;
}
.pagenum{
    display: block;
    width: 92%;
    height: 28px;
    margin: 8px 4%;
}
.pagenum a{
    display: inline-block;
    height: 28px;
    border-radius: 14px;
    font-size: 14px;
    line-height: 28px;
    padding: 0 12px;
}
.pagenum a.nor{
    border: 1px solid #e6e9ed;
    background: #fff;
    color: #e6e9ed;
}
.pagenum a.active{
    background: #8cc152;
    color: #fff;
}
.my_filter_controller{
    z-index:2;
    position:absolute;
    top:0;
    clear:both;
    width: 100%;
}
.my_filter_controller li{
    float:left;
}
.my_filter_controller li span:after{
    font-family: iconfont;
}
.my_filter_controller li span:after{
    content: '\e90e';
}
.my_filter_controller li.active span:after{
    content: '\e91a';
    -webkit-animation: spinner 0.1s 2 linear;
    animation: spinner 0.1s 2 linear;
}
.my_filter_controller li i{
    float:right;
    color:#ECF0F1;
    font-style:normal;
}
.my_filter_component.active {
    z-index:1;
    position:absolute;
    display:block;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.2);
}
@-webkit-keyframes myFilterslideDownIn{
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,-44px,0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0)
    }
}



/*产品详情*/
.proban{
    width: 100%;
    background: #fff;
}
.proban>img{
    width: 100%;
}
.proinfo{
    padding: 8px;
    background: #fff;
    overflow: hidden;
    margin-bottom: 10px;
}
.proinfo .prize{
    display: block;
    overflow: hidden;
    margin: 8px 0;
}
.proinfo>h2{
    font-size: 16px;
}
.buycount{
    display: block;
    overflow: hidden;
}
.shopbtn{
    display: block;
    width: 100%;
    border-top: 1px solid #ddd;
}
.shopbtn .btn{
    display: block;
    width: 20%;
    height: 46px;
    text-align: center;
    padding-top: 8px;
    background: #fff;
}
.shopbtn .btn span{
    display: block;
}
.shopbtn .add{
    width: 30%;
    background: #fe9303;
    display: block;
    height: 54px;
    line-height: 54px;
    text-align: center;
    color: #fff;
}
.shopbtn .buy{
    width: 30%;
    background: #fe5000;
    display: block;
    height: 54px;
    line-height: 54px;
    text-align: center;
    color: #fff;
}
.prodetail{
    display: block;
    background: #fff;
    margin-bottom: 10px;
}
.prodetail .tab{
    display: block;
    height: 44px;
    width: 100%;
    line-height: 44px;
    font-size: 12px;
    background: #eee;
}
.prodetail .tab>a{
    width: 33.33%;
    float: left;
    border: 1px solid #ddd;
    box-sizing: border-box;
}
.prodetail .tab>a.active,.prodetail .tab>a:active,.prodetail .tab>a:hover{
    background: #fff;
    color: #ff5000;
}
.prodetail .info{
    display: block;
}
.prodetail .info>img{
    width: 100%;
}
.goodsec{
    display: block;
    background: #fff;
    overflow: hidden;
    padding: 8px;
}
.goodsec .pic{
    width: 24%;
}
.goodsec .pic>img{
    width: 100%;
}
.goodsec .info{
    width: 74%;
    margin-left: 2%;
}
.comlist{
    display: block;
    overflow: hidden;
    margin-bottom: 18px;
    -webkit-box-shadow:  0 1px 2px rgba(0,0,0,.2);
    box-shadow:  0 1px 2px rgba(0,0,0,.2);
}
.comlist .tit{
    background: #ddd;
    height: 34px;
    line-height: 34px;
    padding-left: 8px;
}
.comlist .list{
    padding: 0 8px;
    border-bottom: 1px dashed #ccc;
    background: #fff;
}
.comlist .list>p{
    width: 100%;
    display: block;
    overflow: hidden;
    height: 28px;
    line-height: 28px;
}


/*悬浮按钮*/
.icon-menu {
    font-family: "dis-font";
    font-style: normal;
}
.icon-menu:before {
    /*content: "\002F";*/
}
.mask_menu {
    display:none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 999997;
}
.menu {
    position: fixed;
    bottom: 80px;
    left: 10px;
    padding: 3px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /*background: rgba(255, 255, 255, .8);
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);*/
    z-index: 999999;
    background-image: url(../img/menu/menubtn.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}
.menu .icon-menubot {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    /*background: rgba(0, 0, 0, .8);*/
    text-align: center;
    color: #fff;
    font-size: 35px;
}
.menu.show {
    background-image: url(../img/menu/menubtn-show.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}
.menu.show .icon-menu {
    background: rgba(0, 0, 0, .1);
}
.menu-c {
    display: none;
    width: 190px;
    height: 190px;
    position: fixed;
    bottom: 130px;
    left: 20px;
    padding: 5px;
    border-radius: 50%;
    /*background: rgba(0, 0, 0, .1);*/
    z-index: 999998;
}
.menu-c.out {
    background: rgba(0, 0, 0, 0);
}
.menu-c-out {
    padding: 5px;
    border-radius: 50%;
    /*background: rgba(255, 255, 255, 1);*/
}
.menu-c.out .menu-c-out {
    background: rgba(255, 255, 255, 0);
}
.menu-c-inner {
    display: none;
    position: relative;
    border-radius: 50%;
    background: url(../img/menu/menushow.png) no-repeat;
    background-size: 100%;
}
.menu-c.notel .menu-c-inner {
    background: url(../img/menu/menushow.png) no-repeat;
    background-size: 100%;
}
.menu-c.noserver .menu-c-inner {
    background: url(../img/menu/menushow.png) no-repeat;
    background-size: 100%;
}
.menu-c.nost .menu-c-inner {
    background: url(../img/menu/menushow.png) no-repeat;
    background-size: 100%;
}
.menu-c.nofocus .menu-c-inner{
    background: url(../img/menu/menushow.png) no-repeat;
    background-size: 100%;
}
.menu-c-inner.in {
    display: block;
    width: 180px;
    height: 180px;
    animation: menufloatin .3s;
    -webkit-animation: menufloatin .3s;
    -moz-animation: menufloatin .3s;
    -o-animation: menufloatin .3s;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
@keyframes menufloatin{
    0%{width:0;height:0;
        filter:alpha(opacity=0);
            -moz-opacity:0;
                -khtml-opacity:0;
                    opacity:0;}
    100%{width:180px;height:180px;
        filter:alpha(opacity=1);
            -moz-opacity:1;
                -khtml-opacity:1;
                    opacity:1;
    }
    }
@-webkit-keyframes menufloatin{
    0%{width:0;height:0;
        filter:alpha(opacity=0);
            -moz-opacity:0;
                -khtml-opacity:0;
                    opacity:0;}
    100%{width:180px;height:180px;
        filter:alpha(opacity=1);
            -moz-opacity:1;
                -khtml-opacity:1;
                    opacity:1;
    }
    }
@-moz-keyframes menufloatin{
    0%{width:0;height:0;
        filter:alpha(opacity=0);
            -moz-opacity:0;
                -khtml-opacity:0;
                    opacity:0;}
    100%{width:180px;height:180px;
        filter:alpha(opacity=1);
            -moz-opacity:1;
                -khtml-opacity:1;
                    opacity:1;
    }
    }
@-o-keyframes menufloatin{
    0%{width:0;height:0;
        filter:alpha(opacity=0);
            -moz-opacity:0;
                -khtml-opacity:0;
                    opacity:0;}
    100%{width:180px;height:180px;
        filter:alpha(opacity=1);
            -moz-opacity:1;
                -khtml-opacity:1;
                    opacity:1;
    }
    }
.menu-c-inner.outer{width:0;height:0;
        animation:menufloatouter .3s;
            -webkit-animation:menufloatouter .3s;
                -moz-animation:menufloatouter .3s;
                    -o-animation:menufloatouter .3s;    
        filter:alpha(opacity=0);
            -moz-opacity:0;
                -khtml-opacity:0;
                    opacity:0;
                    display: none;
    }
@keyframes menufloatouter{
    0%{width:180px;height:180px;
    filter:alpha(opacity=1);
            -moz-opacity:1;
                -khtml-opacity:1;
                    opacity:1;
    }
    100%{width:0;height:0;
    filter:alpha(opacity=0);
            -moz-opacity:0;
                -khtml-opacity:0;
                    opacity:0;
    }
    }
@-webkit-keyframes menufloatouter{
    0%{width:180px;height:180px;
    filter:alpha(opacity=1);
            -moz-opacity:1;
                -khtml-opacity:1;
                    opacity:1;
    }
    100%{width:0;height:0;
    filter:alpha(opacity=0);
            -moz-opacity:0;
                -khtml-opacity:0;
                    opacity:0;
    }
    }
@-moz-keyframes menufloatouter{
    0%{width:180px;height:180px;
    filter:alpha(opacity=1);
            -moz-opacity:1;
                -khtml-opacity:1;
                    opacity:1;
    }
    100%{width:0;height:0;
    filter:alpha(opacity=0);
            -moz-opacity:0;
                -khtml-opacity:0;
                    opacity:0;
    }
    }
@-o-keyframes menufloatouter{
    0%{width:180px;height:180px;
    filter:alpha(opacity=1);
            -moz-opacity:1;
                -khtml-opacity:1;
                    opacity:1;
    }
    100%{width:0;height:0;
    filter:alpha(opacity=0);
            -moz-opacity:0;
                -khtml-opacity:0;
                    opacity:0;
    }
}
.menu-c a{
    position: absolute;
    width: 60px;
    height: 60px;
}
.menu-c a.home{
    top: 60px;
    left: 60px;
}
.menu-c a.contact{
    top: 0;
    left: 60px;
}
.menu-c a.car{
    top: 30px;
    right: 0;
}
.menu-c a.menber{
    top: 90px;
    right: 0;
}
.menu-c a.share{
    bottom: 0;
    left: 60px;
}
.menu-c a.search{
    top:90px;
    left: 0;
}
.menu-c a.follow{
    top: 30px;
    left: 0;
}


/*购物车*/
.shoppingStepBar{
    margin: 16px 20% 0;
    font-family: 'iconfont' !important;
}
.goods-box-shopcart .price{
    margin-top: -8px;
}
.goods-box-shopcart .specification span{
    margin-right: 2px;
}
.shoppingStepBar .step{
    float: left;
    width: 33.33333333333%;
}
.shoppingStepBar .step i{
    position: relative;
    top:-10px;
    border-bottom: 2px solid #ccc;
    display: block;
}
.shoppingStepBar .step .glyphicon{
    color: #fff;
    padding: 2px;
    border-radius: 15px;
    background-color: #CCD1D9;
    font-size: 14px;
    z-index: 100;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.glyphicon-ok:before{
    content: "\ea08";
}
.shoppingStepBar .active{
    border-color: #ED5565;
}
.shoppingStepBar .active .glyphicon{
    background-color: #ff6866;
}
.shoping-title{
    font-size: 10px;
}
.shoppingStepBar .step em{
    font-style: normal;
    display: block;
    font-size: 10px;
}
.shoppingStepBar .step:first-child i{
    margin-right: -50%;
}
.shoppingStepBar .step:last-child i{
    margin-left: -50%;
}
.emptycar{
    display: block;
    text-align: center;
    margin-top: 50px;
}
.emptycar img{
    width: 40%;
}
.emptycar .text{
    margin: 18px;
}
.emptycar .btn-shopmore{
    padding: 4px 18px;
    border: 1px solid #ddd;
}
.btn-pay{
    padding: 8px 18px;
    border-radius: 4px;
    background: #e0001b;
    color: #fff;
    font-size: 12px;
}
.carlist{
    display: block;
}
.carlist .li{
    display: block;
    background: #fff;
    padding: 8px 1%;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}
.carlist .pic{
    width: 28%;
    float: left;
}
.carlist .pic>img{
    width: 100%;
}
.carlist .info{
    width: 72%;
    float: left;
}
.carlist .info>a.tit{
    font-size: 14px;
    margin-top: 8px;
    width: 90%;
}
.carlist .info>.prize{
    color: #ed5565;
    font-size: 12px;
}
.goodsnum{
    display: block;
    overflow: hidden;
}
.goodsnum>a{
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #ddd;
    text-align: center;
    float: left;
    background: #efefef;
    color: #ccc;
}
.goodsnum>input{
    height: 24px;
    width: 36px;
    float: left;
    padding: 0 4px;
    margin: 0 -1px;
    text-align: center;
    font-size: 12px;
    color: #999;
}
.carlist .li>a.cancel{
    position: absolute;
    top: 8px;
    right: 8px;
    color: #ed5565;
}
.countall{
    margin: 18px 8px;
    font-size: 14px;
}
a.submit{
    background: #e0001b !important;
    color: #fff;
}
.font20{
    font-size: 20px;
    font-weight: 500
}

/*订单流程*/
.confirmbtn{
    display: block;
    height: 44px;
    line-height: 44px;
    background: #fff;
    border-top: 1px solid #ddd;
    -webkit-box-shadow: 0 -1px 8px rgba(0, 0, 0, .1);
    box-shadow: 0 -1px 8px rgba(0, 0, 0, .1);
}
.confirmbtn .prize{
    display: inline-block;
    width: 74%;
    text-align: center;
}
.confirmbtn>a.submit{
    display: inline-block;
    width: 26%;
    text-align: center;
    background: #e0001b;
}
.confirm-input{
    background: #fff;
    overflow: hidden;
    margin-bottom: 64px;
}
.outer{
    border-radius: 6px;
    width: 94%;
    margin: 10px 3%;
}
.accordionbar{
    display: block;
    padding:10px;
    border:1px solid #ccc;
    border-radius: 6px;
    color: #444;
}
.accordionbar.active{
    color:#aaa;
}
.listitem{
    width: 94%;
    background: #333;
    margin-top: 4px;
    border-radius: 6px;
    color: #fff;
    text-align: center;
}
.listitem li .province{
    width: 46%;
    padding-left: 4%;
    text-align: left;
}
[data-role="accordion"]{
    overflow: hidden;
    height: 0px;
    /*可以适当加一些动画*/
    z-index: 999;
    -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}/* 必须为被控制的组件添加默认样式不显示*/
[data-role="accordion"].active{
    height:auto;
    position: absolute;
    /*可以适当加一些动画*/
    -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
}/* 必须为被控制的组件添加active样式，显示组件*/

[data-role="accordion"] li, [data-role="accordionone"] li{
    line-height:40px;
    padding:0px 4px;
    border-bottom:1px solid #ccc;
}
[data-role="accordionone"]{ 
    display: none;
}/* 必须为被控制的组件添加默认样式不显示*/
[data-role="accordionone"].active{
    display: block;
}/* 必须为被控制的组件添加active样式，显示组件*/
.cargood{
    display: block;
    margin: 10px 3%;
    overflow: hidden;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.cargood .title{
    background: #ddd;
    height: 38px;
    line-height: 38px;
    padding: 0 8px;
}
.cargood .tit>a{
    font-size: 12px;
}
.cargood .list{
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}
.cargood .list>.pic{
    width: 24%;
    float: left;
}
.cargood .list>.pic img{
    width: 100%;
}
.cargood .list>.info{
    width: 74%;
    float: left;
    padding: 0 1%;
}
.cargood .list>.info a{
    margin-top: 4px;
}
.cargood .list>.info .prize{
    color: #e0001b;
}
.cargood .list>.info em{
    font-style: normal;
}
.remark{
    width: 94%;
    border-radius: 6px;
}
.outer .pocket{
    height: 34px;
    line-height: 34px;
}
.discount{
    display: block;
    margin: 10px 3%;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    overflow: hidden;
}
.discount>.li{
    display: block;
    text-align: right;
    padding: 0 4px;
    height: 24px;
    line-height: 24px;
}


/*背景颜色定义*/
.bg-hui {
    background:#F4F4F4;
}

.padding-bottom{
    padding-bottom: 6px;
}

/*底部导航位置*/
footer .menubar{
    background: #fff;
    color: #000;
}

footer .tab:active, footer .tab.active{
    background: #fff;
    color: #000;
}
footer .menubar .icon-index{
    background: url(../img/menu/menu01-d.png) center center no-repeat;
    background-size: 86%;
}
footer .menubar .icon-pro{
    background: url(../img/menu/menu02-d.png) center center no-repeat;
    background-size: 82%;
}
footer .menubar .icon-shopcar{
    background: url(../img/menu/menu03-d.png) center center no-repeat;
    background-size: 86%;
}
footer .menubar .icon-users{
    background: url(../img/menu/menu04-d.png) center center no-repeat;
    background-size: 80%;
}
footer .menubar .icon-sales{
    background: url(../img/menu/menu05-d.png) center center no-repeat;
    background-size: 84%;
}


/*产品详情页面*/
.menu-box{
    width: 100%;
    background-color: #fff;
    overflow: hidden;
}
.menu-box li{
    float: left;
    width: 25%;
    height: 40px;
}
.menu-box li span{
    width: 100%;
    height: 38px;
    line-height: 38px;
    text-align: center;
    display: inline-block;
    color: #000;
    font-size: 12px;
}
.menu-box li.active span{
    color: #da4453;
    border-bottom: #da4453 solid 2px;
}
.goodslide{
    display: block;
    background: #666;
    text-align: center;
    overflow: hidden;
}
.bg-blue{
    background: #5cb1db;
}
.bg-yellow{
    background: #faa82d;
}
.table{
    display: block;
}
.table td{
    line-height: 24px;
    padding: 8px;
}
.table .tit{
    font-size: 14px;
    font-weight: 600;
}
.table .info{
    font-size: 12px;
}

.comment-box{

}
.comment-box .zan{
    width: 16px;
    height: 18px;
    display: inline-block;
    background: url(../img/video/head01.png) no-repeat top center;
    background-size: 100%;
}
.comment-box .zan.active {
    background: url(../img/video/head02.png) no-repeat top center;
    background-size: 100%;
}
.justify-content>small{
    color: #909090;
}
.titlebar .comment-btn{
    height: 34px;
    line-height: 34px;
    background-color: #04C191;
    padding: 0 25px !important;
    color: #fff !important;
}
/*文章部分*/
.article-info{
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 6px;
    padding: 0 4px;
}

/*用户中心*/
.usercar{
    display: block;
    overflow: hidden;
    background: #e0001b;
    color: #ddd;
    border-bottom: 2px solid #fff;
    padding: 32px 8px 12px 8px;
}
.usercar .userpic{
    width: 24%;
    border-radius: 50%;
    border: 1px solid #fff;
    overflow: hidden;
    float: left;
}
.usercar .userpic>.pic{
    margin: 4px;
    border-radius: 50%;
    border: 1px solid #333;
    overflow: hidden;
}
.usercar .userpic>.pic img{
    width: 100%;
}
.usercar .usersec{
    width: 64%;
    overflow: hidden;
    float: left;
    margin-left: 2%;
}
.usercar .user-name{
    color: #fff;
}
.usercar .user-cost{
    font-size: 10px;
    color: #fff;
}
.usercar .user-discount{
    font-size: 10px;
}
.usercar .message{
    width: 8%;
    float: left;
}
.usercar a.notice{
    display: inline-block;
    background: url(../img/user/iconfont-xinxi.png) left center no-repeat;
    background-size: 100%;
    width: 24px;
    height: 24px;
}
.usercar>p.nav{
    width: 100%;
    display: block;
    overflow: hidden;
}
.user-tab{
    background: #232323;
    padding: 8px 0;
    overflow: hidden;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.6);
    box-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.user-tab li{
    display: block;
    width: 20%;
    box-sizing: border-box;
    border-right: 1px solid #333;
    float: left;
    color: #ddd;
    font-size: 12px;
    text-align: center;
}
.user-tab li>span{
    display: block;
    margin: 0 auto;
    width: 28px;
    height: 28px;
}
.user-tab .wpay{
    background: url(../img/user/dingdan.png) center center no-repeat;
    background-size: 100%;
}
.user-tab .wsent{
    background: url(../img/user/iconfont-daifukuan.png) center center no-repeat;
    background-size: 100%;
}
.user-tab .wreceipt{
    background: url(../img/user/iconfont-daifahuo.png) center center no-repeat;
    background-size: 100%;
}
.user-tab .wcomment{
    background: url(../img/user/iconfont-wodedingdan13.png) center center no-repeat;
    background-size: 100%;
}
.user-tab .return{
    background: url(../img/user/iconfont-untitled5.png) center center no-repeat;
    background-size: 100%;
}
.user-count{
    background: #fff;
    padding: 8px 0;
    overflow: hidden;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    border-top: 1px solid #ddd;
}
.user-count li{
    display: block;
    width: 33.33%;
    box-sizing: border-box;
    border-right: 1px solid #ddd;
    float: left;
    color: #333;
    font-size: 14px;
    text-align: center;
}
.user-count li>span{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 24px;
    line-height: 24px;
    color: #e0001d;
}
.usertit{
    display: block;
    width: 30%;
    padding: 4px 12px;
    overflow: hidden;
    font-size: 16px;
    color: #1882d8;
    border-bottom: #1882d8 solid 2px;
}
.user-list{
    margin-bottom: 6px;
    padding:0 8px;
    background: #fff;
    border-bottom: #ddd solid 1px;
}
.user-list .title{
    padding: 8px 6px;
}
.user-list .title i{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    line-height: 20px;
    font-size: 18px;
}
.consultbox{
    display: block;
    overflow: hidden;
    margin: 8px;
    background: #fff;
}
.consultbox h3{
    font-size: 12px;
    padding: 8px;
    overflow: hidden;
}
.consultbox h3>p{
    float: left;
}
.consultbox .asking{
    font-size: 12px;
    padding: 8px 8px 18px 8px;
}


/*个人中心订单*/
.selbox{
    display: block;
    margin: 8px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
}
.selbox>label{
    float: left;
}
.selbox input[type="checkbox"]{
    width: 18px;
    height: 18px;
    font-size: 18px;
    float: left;
}
.selbox .allpay{
    background: #3bafda;
    color: #fff;
    float: right;
    padding: 0 4px;
    margin-right: 8px;
}
.selbox .alldel{
    float: right;
    border: 1px solid #ccc;
    background: #fff;
}
.orderlist{
    display: block;
    overflow: hidden;
    background: #fff;
    margin-bottom: 10px;
}
.orderinfo{
    border-bottom: 1px solid #ddd;
    position: relative;
    font-size: 14px;
    padding: 8px;
}
.orderinfo .price{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ff223e;
    font-size: 16px;
}
.ordersec{
    display: block;
    overflow: hidden;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
.ordersec .pic{
    width: 24%;
    float: left;
}
.ordersec .pic>img{
    width: 100%;
}
.ordersec .info{
    width: 76%;
    float: left;
}
.ordersec .info>.tit{
    font-size: 12px;
    margin: 8px auto;
}
.orderbtn{
    display: block;
    overflow: hidden;
    padding: 8px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
}
.orderbtn>label{
    float: left;
}
.orderbtn input[type="checkbox"]{
    float: left;
    width: 18px;
    height: 18px;
    font-size: 18px;
    float: left;
}
.orderbtn .cancel{
    float: right;
    background: #ababab;
    color: #fff;
    padding: 0 8px;
}
.orderbtn .pay{
    float: right;
    background: #e0001b;
    color: #fff;
    padding: 0 8px;
    margin-right: 8px;
}
.userorder{
    display: block;
    overflow: hidden;
}
.userorder .infolist{
    display: block;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    margin-bottom: 10px;
}
.userorder .infolist>.tit{
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    background: #e6e9ed;
    padding: 6px 8px;
    font-size: 14px;
}
.redprize{
    background: #da4453;
    border-radius: 12px;
    color: #fff;
    padding: 0 8px;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    margin: 2px auto;
}
.userorder .infolist>.sec{
    line-height: 18px;
    font-size: 12px;
    padding: 8px ;
    background: #fff;
    overflow: hidden;
}
.userorder .sec .pic{
    width: 24%;
}
.userorder .sec .pic>img{
    width: 100%;
}
.userorder .sec .info{
    width: 74%;
    margin-left: 2%;
}
.userorder .sec .info>a{
    margin: 8px auto;
}
.userorder .infolist .span-r{
    width: 26%;
    text-align: right;
}

/*个人地址*/
.addressbox{
    display: block;
    margin: 8px;
    background: #fff;
    padding: 8px;
}
.addressbox .titbox>.name{
    width: 80%;
    float: left;
}
.addinfo{
    font-size: 12px;
}

/*个人资料*/
.userdetail{
    display: block;
    overflow: hidden;
    margin-bottom: 8px;
}
.user-top{
    display: block;
    overflow: hidden;
    padding: 8px;
    background: #fff;
}
.user-top>.pic{
    width: 28%;
    float: left;
}
.user-top>.pic>img{
    width: 100%;
}
.user-top>.info{
    width: 70%;
    float: left;
    margin-left: 2%;
    margin-top: 18px;
}
.user-top>.info .avatar{
    border: 1px solid #ccc;
    font-size: 12px;
    color: #009DDC;
    padding: 2px 8px;
}
.userform{
    display: block;
    overflow: hidden;
    background: #fff;
}
.userform .formtit{
    padding: 8px;
    font-size: 14px;
    font-weight: 600;
}
.account{
    margin: 8px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 8px 0;
    font-size: 12px;
    color: #999;
    overflow: hidden;
    line-height: 12px;
}

/*注册登录*/
#logo-box{
    width: 80px;
    height: 80px;
    margin: 40px auto;
}
.login-box{
    margin-top: 68px;
}
/*默认样式修改*/
a {
    color: #3D4049;
}
.mark-success{
     background: #04c191;
}
/*修改表单*/
button.submit, input[type="submit"], .button.submit {
    background-color: #02cfff;
}
input[type="checkbox"]:checked, input[type="radio"]:checked, .checkbox.active, .radio.active {
    color: #1882d8;
}
/*修改弹窗*/
.agile-popup{
    color: #fff;
    -webkit-box-shadow: none !important;
    background: none;
}
.agile-popup-handler > a{
    color: #fff;
}
small {
    font-size: 90%;
    color: #303030;
}
footer>.titlebar{
    border: none !important;
}
.progress-bar{
    background-color: #ddd;
}
.progress-bar .progress{
    background-color: #04C191;
}
.bg-bai{
    background: #fff;
}
.col-yellow{
    color: #ffd800 !important;
}
.col-orange{
    color: #ff5000 !important;
}
.col-bai{
    color: #fff !important;
}
.col-red{
    color: #e0001b;
}
.pos-r{
    position: relative;
}
.col-hui{
    color: #cacaca;
}
.col-dhui{
    color: #999;
}
.col-hei{
    color: #222;
}
.col-blue{
    color: #009DDA;
}
.font10{
    font-size: 10px;
}
.font12{
    font-size: 12px;
}
.font14{
    font-size: 14px;
}
.font24{
    font-size: 24px;
}
.list.noclick{
    background: #fff;
    padding: 0 6px;
    border-top: #ddd solid 1px;
    border-bottom: #ddd solid 1px;
}
.list.noclick li:last-child{
border: none;
}
.justify{
    padding: 10px 0 10px 2px ;
    max-width: 180px;
}